/*CSS RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*CSS RESET END*/

html{
	background: #f7f7f7;
}

body{
	background: white;
	max-width: 80%;
	margin: 0 auto;
	font-family: 'Manrope', sans-serif;
}

header, footer {
	background: #333a40;
	color: white;
}	

h1 {
	padding-left: 20px;
	font-size: 15px;
}


a{
	text-decoration: none;
}

ul, h2{
	margin: 0;
	padding: 0;
}

main{
	margin: 20px;
}

.digitalartsamples {
	border: 1px solid white;
	width: 200px;
	display: inline-block;
}

img {
	max-width: 100%;
}

/*Navitation bar*/
header h1, nav {
	display: inline-block;
}

header li, footer li {
	display: inline;
	padding: 5px;
	font-size: 15px;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: grey;
}
/*End*/

/*BIO ISOLATED*/
.bioMain {
	display: inline-block;
	vertical-align: top;
	width: 70%;
	padding: 20px;
	margin: 0;
}

.bioAside {
	display: inline-block;
	width: 10%;
	padding: 20px;
	margin: 0;
}

/*End*/