html{
	background: #f7f7f7;
}

body{
	background: white;
	max-width: 80%;
	margin: 0 auto;
	font-family: 'Manrope', sans-serif;
}

header, footer {
	background: #333a40;
	color: white;
}	

main{
	margin: 20px;
}

img {
	max-width: 20%;
}

/*Navitation bar colors*/
a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: grey;
}
/*End*/